// Place all the styles related to the firmware controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #E2DFCD !important;
}

legend {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
