// Place all the styles related to the firmware controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #eae9e9 !important;
  font-family: 'Nunito', Arial, Helvetica, sans-serif !important;
}

legend {
  margin-top: 20px;
  background: #D46344;
  color: #fff !important;
  text-align: center;
  text-transform: uppercase;
}
.title{
  border-color: #262324 !important;
  border-top: 10px !important;
  border-bottom: 10px !important;
}
